/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 6, ../sass/screen.scss */
body {
  padding-top: 50px;
  text-align: center;
}

/* line 10, ../sass/screen.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 14, ../sass/screen.scss */
.starter-template img {
  height: 165px;
  display: inline;
}

/* line 18, ../sass/screen.scss */
div#summary {
  min-height: 370px;
  background: url(../images/gravitar.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 26, ../sass/screen.scss */
#main {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 31, ../sass/screen.scss */
div#blurb {
  width: 45%;
  float: right;
  opacity: 0.7;
  background-color: white;
  position: relative;
  top: 50px;
  margin: 1%;
}

/* line 40, ../sass/screen.scss */
.section-title {
  float: left;
  margin: 10px;
}

/* line 44, ../sass/screen.scss */
.section-content {
  margin: 10px;
  padding: 20px;
  min-height: 400px;
}

/* line 53, ../sass/screen.scss */
.section-details {
  margin: 5px;
  clear: both;
}

/* line 57, ../sass/screen.scss */
li {
  list-style: none;
}

/* line 60, ../sass/screen.scss */
.progress {
  height: 20px;
  margin: 15px;
  width: 80%;
}

/* line 65, ../sass/screen.scss */
.progress-bar {
  background-color: #5cb85c;
}

/* line 68, ../sass/screen.scss */
.thumbnail > img {
  max-width: 100%;
}

/* line 71, ../sass/screen.scss */
#find-me-pizza {
  background-image: url("https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14920/pictures/1397633656/original.png?1397633656");
}

/* line 74, ../sass/screen.scss */
#the-movie-db {
  background-image: url("https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14921/pictures/1397633735/original.png?1397633735");
}

/* line 78, ../sass/screen.scss */
#parks-quiz-app {
  background-image: url("https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14919/pictures/1397633611/original.png?1397633611");
}

/* line 81, ../sass/screen.scss */
.caption {
  transition: all .5s ease;
  opacity: 0;
}

/* line 85, ../sass/screen.scss */
.caption:hover {
  color: white;
  background: rgba(98, 114, 114, 0.85);
  opacity: 1.0;
}
