/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 // @import"compass/reset";
 body {
    padding-top: 50px;
    text-align: center;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.starter-template img {
    height:165px;
    display: inline;
}
div#summary {
    min-height: 370px;
    background: url(../images/gravitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#main {
    margin:0;
    padding:0;
    width: 100%;
}
div#blurb {
    width: 45%;
    float: right;
    opacity: 0.7;
    background-color: white;
    position: relative;
    top: 50px;
    margin: 1%;
}
.section-title {
    float: left;
    margin:10px;
}
.section-content {
    margin:10px;
    padding: 20px;
    min-height:400px;

}
.skill-description {
    // float: left;
}
.section-details {
    margin:5px;
    clear: both;
}
li {
    list-style:none;
}
.progress {
    height: 20px;
    margin:15px;
    width: 80%;
}
.progress-bar {
    background-color: #5cb85c;
}
.thumbnail > img {
    max-width: 100%;
}
#find-me-pizza {
    background-image: url('https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14920/pictures/1397633656/original.png?1397633656')
}
#the-movie-db {
    background-image: url('https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14921/pictures/1397633735/original.png?1397633735')
}

#parks-quiz-app {
    background-image: url('https://dmdf3fr77elxm.cloudfront.net/portfolio_assets/14919/pictures/1397633611/original.png?1397633611')
}
.caption {
    transition: all .5s ease;
    opacity: 0;
}
.caption:hover {
    color:white;
    background: rgba(#627272, 0.85);
    opacity: 1.0;   
}
