/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @import"compass/reset";
 body {
    padding-top: 50px;
    text-align: center;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.starter-template img {
    height:165px;
    display: inline;
}

div#summary {
    background: url(../images/gravitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#main {
	margin:0;
	padding:0;
	width: 100%;
}

